html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* Wrapper */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* General Styles */

html {
    font-size: 62.5%
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

nav ul {
    text-align: center;
    margin-right: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}

ul li {
    float: left;
    text-align: center;
    width: 20%;
}

ul li a {
    padding: 10px 10px 10px 450px;
    display: inline-block;
    color: rgb(31, 32, 34);
    font-size: 2rem;
    text-transform: uppercase;

}

a {
    list-style: none;
    text-decoration: none;
    color: rgb(31, 32, 34);
}

li span {
    color: rgb(231, 86, 5);
}

/* Header + background Image */

header { 
    background-image: url(./assets/header-burger.png);
    background-repeat: no-repeat;
    background-size: 440px;
    float: left;
    width: 40%;
    height: 70vh;
    margin-top: 2%;
} 

header h2 {
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(231, 86, 5);
    margin-top: 25%;
    margin-left: 80%;
    width: 30%;
    letter-spacing: 10px;
} 


.fonts {
    color: rgb(231, 86, 5);
    font-size: 2rem;
    float: right;
    display: block;
    position: absolute;
    margin-top: -17%;
    margin-left: 90%;
    line-height: 50px; 
}

/* Image + Text Containers */

.menuTextContainer {
    float: right;
    width: 50%;
    padding: 50px;
}


.menuImageContainer {
    float: right;
    width: 50%;
    margin-top: 40%;
}


.menuTextContainer h2,
.cuisineTextContainer h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(231, 86, 5);
}

.menuTextContainer p,
.cuisineTextContainer p {
    font-size: 2rem;
    font-family: 'Catamaran';
    font-weight: 400;
    color: rgb(31, 32, 34);
}

.cuisineImageContainer {
    float: left;
    width: 50%;
}

.cuisineTextContainer {
    float: left;
    width: 50%;
    padding: 50px;
}

.desserts {
    background: #eee;
}

.dessertsImageContainer {
    float: left;
    padding: 90px;
}


.dessertsTextContainer {
    width: 50%;
    font-size: 2rem;
    float: left;
    padding: 55px;
    font-family: 'Catamaran';
    font-weight: 400;
}

.dessertsTextContainer h2 {
    text-transform: uppercase;
    color: rgb(231, 86, 5);
}

/* Icons + Text */

.feature {
    background-color: rgb(231, 86, 5);
    padding: 50px 10px 0px 0px;
}

.feature h3 {
    font-size: 2rem;
    display: inline-block;
    color:  rgb(255, 255, 255);
    padding: 10px 0px 10px 200px;
}

.icons {
    font-size: 2rem;
    color:  rgb(255, 255, 255);
}

.fa-location-arrow, 
.fa-utensils,
.fa-phone {
    padding: 10px 0px 20px 250px;
}

/* Gallery Styles */

.foodGallery {
    padding: 100px 0;
}

.foodGallery h2 {
    text-align: center;
    padding-bottom: 80px;
    text-transform: uppercase;
    color: rgb(231, 86, 5);
    font-size: 3rem;

}

.foodGallery li {
    width: calc((100% / 3) - 50px);
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Footer Styles */

footer {
    background-color: #eee;
    padding: 25px 0 250px 0;
}

.footerNav {
    width: 100%;
}

.footerNav a {
    display: inline-block;
    padding: 20px 0px 30px 0px;
    margin-left: 25%;
}

.contactInfo {
    float: left;
    width: 50%;
    margin-left: 10%;
}

.contactInfo h2 {
    margin-left: 10%;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(231, 86, 5);
}

.contactInfo p {
    margin-left: 10%;
    font-size: 1.5rem;
}

.contactInfo a {
    margin: 10%;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.label {
    float: right;
    width: 40%;
    /* background-color: #eee; */
}

.label h2 {
    text-transform: uppercase;
    color: rgb(231, 86, 5);
    font-size: 2rem;

}

.label p {
    font-size: 1.5rem;
}



input[type=email] {
    width: calc(50% - 20px);
    height: 30px;
    padding: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    /* float: right; */
    /* margin-right: 90%; */
}

.copyright {
    background-color: rgb(31, 32, 34);
    color: rgb(255, 255, 255);
    padding: 5px;
}

.copyright p {
    margin-left: 40%;
    font-size: 1.5rem;
}

button {
    width: 150px;
    border: 2px solid rgb(231, 86, 5);
    background-color: rgb(255, 255, 255);
    color: rgb(31, 32, 34);
    padding: 0;
    height: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@media (max-width: 768px){
    p, a{
        font-size: 1rem;
    }

    header h2{
        font-size: 5rem;
        padding: 90px;
        
    }

    header {
        height: 50vh;
        width: 60%;
    }

    ul li a {
        padding: 10px 10px 10px 250px;
        font-size: 2rem;
}

    .menuImageContainer {
        margin-top: 0;
    }

    .menuTextContainer h2,
    .cuisineTextContainer h2 {
        font-size: 2rem;
    } 

    .menuTextContainer p,
    .cuisineTextContainer p {
        font-size: 1rem;
    }  

    .dessertsImageContainer {
        padding: 30px;
    }

    .fa-location-arrow,
    .fa-utensils,
    .fa-phone {
        padding: 0px 0px 0px 160px;
    }

    .feature h3 {
        padding: 0px 0px 0px 120px;
        font-size: 1.5rem;
    }
    .contactInfo, .footerNav{
        width: 20%;
    }

    .footerNav {
        display: none;
    }

    .fonts{
        display: none;
    }    

}



@media (max-width: 360px){
    p, a{
        font-size: 1rem;
    }

    header h2{
        font-size: 2.5rem;
        padding: 20px;
        
    }

    header {
        background-size: 200px;
    }

    ul li a {
        display: none;
}

    .menuImageContainer,
    .cuisineImageContainer {
        width: 100%;
    }

    .menuTextContainer h2,
    .menuTextContainer p {
        margin-left: -200%;
        font-size: 2rem;
    }


    .cuisineTextContainer h2,
    .cuisineTextContainer p {
        font-size: 2rem;
        margin-right: -200%;
    } 


    .dessertsImageContainer {
        width: 100%;
    }

    .dessertsTextContainer h2,
    .dessertsTextContainer p {
        margin-right: -200%;
    }

    .fa-location-arrow,
    .fa-utensils,
    .fa-phone {
        padding: 54px 0px 0px 170px;
    }

    .feature h3 {
        padding: 0px 0px 0px 120px;
        font-size: 1.5rem;
    }

    .foodGallery li {
        width: calc((100% / 2) - 40px);
    }

    .contactInfo {
        width: 100%;
    }

    .contactInfo a, .contactInfo h2, .contactInfo p {
        font-size: 1rem;
        justify-content: center;

    }

    .label {
        width: 100%;
        padding: 45px;
    }

    .label h2, .label p {
        font-size: 1rem;
        justify-content: center;
        
    }
    
    .fonts{
        display: none;
    }    

    button {
        font-size: 1rem;
    }
}
